@import "../../../../styles.scss";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1440px;
}

.header-bg {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 100px;
  box-sizing: border-box;
  display: flex;
  z-index: 9999;
  width: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 13.56%,
    rgba(0, 0, 0, 0.6) 84.01%
  );
}

nav {
  display: flex;
  align-items: center;
  gap: 24px;

  a {
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-family: "Fira-Code", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    padding-bottom: 4px;

    &::after {
      content: "";
      position: absolute;
      bottom: -4px;
      left: 50%;
      transform: translateX(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #6ad7bf;
      opacity: 0;
      transition: opacity 0.1s ease;
    }
    &:hover::after {
      opacity: 1;
    }
  }
}

.logo {
  img {
    width: 180px;
  }
}

.toogle-button {
  cursor: pointer;
  color: white;
  width: 85px;
  height: 30px;
  border-radius: 100px;
  background-color: transparent;
  border: 1px solid #3dcfb6;

  &:hover {
    border: 1px solid white;
  }
}

.custom-toggle {
  display: inline-block;
  position: relative;
}

.toggle-input {
  display: none;
}

.toggle-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 30px;
  background-color: transparent;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  padding: 0 10px;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid #3dcfb6;

  &:hover {
    border-color: white;
  }
}

.toggle-label .toggle-text {
  position: absolute;
  font-family: "Fira-Code", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  z-index: 1;
  transition: color 0.3s ease;
}

.toggle-label .en {
  left: 10px;
  color: white;
  font-weight: bold;
}

.toggle-label .de {
  right: 10px;
  color: #3dcfb680;
  font-weight: normal;
}

.toggle-thumb {
  width: 40px;
  height: 30px;
  background-color: #3dcfb6;
  border-radius: 100px;
  position: absolute;
  top: 50%;
  left: -1px;
  transform: translateY(-50%);
  transition: left 0.3s ease;
  z-index: 0;
}

.toggle-input:checked + .toggle-label .toggle-thumb {
  left: 39px;
}

.toggle-input:checked + .toggle-label .en {
  color: #3dcfb680;
  font-weight: normal;
}

.toggle-input:checked + .toggle-label .de {
  color: white;
  font-weight: bold;
}

.toggle-input:not(:checked) + .toggle-label:hover .de {
  color: #3dcfb6;
}

.toggle-input:checked + .toggle-label:hover .en {
  color: #3dcfb6;
}

.toggle-label:hover {
  border-color: white;
}
