<div ngClass="header-bg">
  <div ngClass="header">
    <nav>
      <div ngClass="custom-toggle">
        <input type="checkbox" id="language-toggle" ngClass="toggle-input" (change)="toggleLanguage($event)" />
        <label for="language-toggle" ngClass="toggle-label">
          <span ngClass="toggle-text en">EN</span>
          <span ngClass="toggle-text de">DE</span>
          <div ngClass="toggle-thumb"></div>
        </label>
      </div>
      <a href="#">{{ 'HEADER.ABOUT_ME' | translate }}</a>
      <a href="#">{{ 'HEADER.SKILLS' | translate }}</a>
      <a href="#">{{ 'HEADER.PROJECTS' | translate }}</a>
    </nav>
    <div ngClass="logo">
      <img src="assets/img/pk-logo.png" alt="">
    </div>
  </div>
</div>
