<div class="header-bg">
    <div class="header">
        <nav>
            <!-- <button class="toogle-button">DE</button> -->
            <!-- <mat-slide-toggle class="language-toggle">
                <span>EN</span>
                <span>DE</span>
            </mat-slide-toggle> -->
            <div class="custom-toggle">
                <input type="checkbox" id="language-toggle" class="toggle-input">
                <label for="language-toggle" class="toggle-label">
                    <span class="toggle-text en">EN</span>
                    <span class="toggle-text de">DE</span>
                    <div class="toggle-thumb"></div>
                </label>
            </div>
            <a href="#">About Me</a>
            <a href="#">Skills</a>
            <a href="#">Projects</a>
        </nav>
        <div class="logo">
            <img src="assets/img/logo.png" alt="">
        </div>
    </div>
</div>
