<div ngClass="header-bg">
  <div ngClass="header">
    <nav class="navigation" [ngClass]="{ 'd-none': isSmallScreen }">
      <div class="custom-toggle">
        <input type="checkbox" id="language-toggle" class="toggle-input" [checked]="isGerman"
          (change)="toggleLanguage()" />
        <label for="language-toggle" class="toggle-label">
          <span class="toggle-text en">EN</span>
          <span class="toggle-text de">DE</span>
          <div class="toggle-thumb"></div>
        </label>
      </div>
      <a (click)="scrollTo('about-me')"> {{ 'HEADER.ABOUT_ME' | translate }} </a>
      <a (click)="scrollTo('skills')"> {{ 'HEADER.SKILLS' | translate }} </a>
      <a (click)="scrollTo('my-projects')"> {{ 'HEADER.PROJECTS' | translate }} </a>
    </nav>
    <div class="burger-menu" [ngClass]="{ 'd-none': !isSmallScreen }">
      <mat-icon (click)="toggleMenu()" aria-hidden="false" aria-label="Example menu icon" fontIcon="menu"></mat-icon>
      <div [@openClose]="isMenuOpen ? 'open' : 'closed'" class="burger-menu-content">
        <nav>
          <a (click)="closeMenu()" href="#about-me"> {{ 'HEADER.ABOUT_ME' | translate }} </a>
          <a (click)="closeMenu()" href="#skills"> {{ 'HEADER.SKILLS' | translate }} </a>
          <a (click)="closeMenu()" href="#my-projects"> {{ 'HEADER.PROJECTS' | translate }} </a>
          <div class="custom-toggle" (click)="$event.stopPropagation()">
            <input type="checkbox" id="language-toggle" class="toggle-input" [checked]="isGerman"
              (change)="toggleLanguage()" />
            <label for="language-toggle" class="toggle-label">
              <span class="toggle-text en">EN</span>
              <span class="toggle-text de">DE</span>
              <div class="toggle-thumb"></div>
            </label>
          </div>
        </nav>
      </div>
    </div>
    <div ngClass="logo" routerLink="/">
      <img [ngClass]="{ 'd-none': !isSmallScreen }" [ngStyle]="{ width: '80px' }" src="assets/img/favicon.png" alt="" />
      <img [ngClass]="{ 'd-none': isSmallScreen }" src="assets/img/pk-logo.png" alt="">
    </div>
  </div>
</div>
