<div class="overlay" *ngIf="project">

  <mat-icon (click)="closeOverlay()" class="close-button" aria-hidden="false" aria-label="Close"
    fontIcon="close"></mat-icon>

  <div class="description-container">
    <div class="project-title">
      <h1>0{{ project.index }}</h1>
      <h2>{{ project.title }}</h2>
    </div>

    <div>
      <h3>What is this project about?</h3>
      <span class="description-text">{{ project.description }}</span>
    </div>
    <div class="project-tech">
      <ng-container *ngFor="let tech of project.technologies">
        <div>
          <img class="tech-img" [src]="tech.imgUrl" [alt]="tech.name" />
          {{ tech.name }}
        </div>
      </ng-container>
    </div>
    <div class="project-btn-container">
      <a [href]="project.githubUrl" target="_blank" rel="noopener noreferrer">
        <button class="btn">
          <span>GitHub</span>
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="Call made icon" fontIcon="call_made"></mat-icon>
        </button>
      </a>
      <a [href]="project.liveTestUrl" target="_blank" rel="noopener noreferrer">
        <button class="btn">
          <span>Live Test</span>
          <mat-icon class="custom-icon" aria-hidden="false" aria-label="Call made icon" fontIcon="call_made"></mat-icon>
        </button>
      </a>
    </div>
  </div>
  <div>
    <img class="project-img" [src]="project.image" [alt]="project.title + ' Image'" />
  </div>

  <button class="next-project-btn" (click)="nextProject()">
    <span>Next project</span>
    <mat-icon class="arrow-forward-icon" aria-hidden="false" aria-label="Arrow forward"
      fontIcon="arrow_forward"></mat-icon>
  </button>

</div>
