@import "../../../styles.scss";

.content {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.intro-section {
  max-width: 1440px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 32px;
  display: flex;
  gap: 48px;
  margin-top: 40px;
  z-index: 99;
  .btn-container {
    display: flex;
    gap: 48px;
  }
}

h1 {
  margin: 0;
  color: white;
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 128px;
  font-weight: 700;
  line-height: 128px;
  letter-spacing: -0.02em;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  text-align: center;
  margin-top: 12px;
}

h2 {
  margin: 0;
  color: white;
  font-family: "Fira-Code", Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.info-carousel {
  width: 150%;
  height: 60px;
  background-color: #ffffff1f;
  rotate: -3deg;
  font-size: 32px;
  position: absolute;
  bottom: 90px;
  --gap: 56px;
  display: flex;
  align-items: center;
  gap: 16px;
  z-index: 2;
  backdrop-filter: blur(5px);

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    font-family: "Karla", Arial, Helvetica, sans-serif;
    color: #6ad7bf;
    font-size: 32px;
    font-weight: 400;
    min-width: 100%;
    flex-shrink: 0;
    animation: scroll 30s linear infinite;
  }
  li {
    span {
      margin-left: 56px;
      font-weight: bold;
    }
  }
}

@keyframes scroll {
  to {
    transform: translateX(-100%);
  }
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.info-container {
  width: 100%;
  max-width: 1640px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 100px;
  position: absolute;
  bottom: 0;
}

.scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.arrow-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 30px;
  border-radius: 25px;
  border: 1px solid #6ad7bf;

  svg {
    animation: arrow-down 500ms linear alternate infinite;
  }
}

@keyframes arrow-down {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(8px);
  }
}

.placeholder-line-scroll {
  width: 1px;
  height: 290px;
  background-color: #6ad7bf;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;

  .icon {
    position: relative;

    img {
      width: 32px;
      height: 32px;
      display: block;
      transition: transform 0.3s ease;
      &:hover {
        filter: brightness(0) invert(1);
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -12px;
      transform: translateY(-50%);
      width: 6px;
      height: 6px;
      border-radius: 50%;
      background-color: #6ad7bf;
      opacity: 0;
      transition: opacity 0.3s ease;
    }

    &:hover::after {
      opacity: 1;
    }
  }

  .flip-email {
    display: inline-block;
    writing-mode: vertical-lr;
    font-family: "Karla", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 21.6px;
    color: white;
    text-decoration: none;
    transform: rotate(180deg);
    z-index: 10;

    &:hover {
      color: #6ad7bf;
    }
  }
}

.placeholder-line-social-media {
  width: 1px;
  height: 240px;
  background-color: white;
}
