@import "../../styles.scss";


h1 {
  font-family: "Fira-Code", Arial, Helvetica, sans-serif;
  color: #3DCFB6;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

h2 {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  color: #3DCFB6;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;

}

h3 {
  font-family: "Fira-Code", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin: 0;

}

.wrapper {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px 145px 100px;
}

.separator {
  color: #3dcfb6;
}

.content {
  flex-direction: column;
  gap: 40px;
  max-width: 1440px;
  width: 100%;
  display: flex;

    span {
      font-family: "Karla", Arial, Helvetica, sans-serif;
      color: white;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
}

.project-description-container {
  display: flex;
  flex-direction: column;
  gap: 40px;

  span {
    max-width: 460px;
  }
}

.projects-wrapper {
  border-top: 1px solid #3DCFB6;

}

.projects {

  display: flex;justify-content: space-between;

  .project-info {
    gap: 220px;
    padding: 40px 32px;
    border-bottom: 1px solid #3DCFB6;
    display: flex;
    justify-content: space-between;
    transition: background-color 0.3s;

      div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
      }

      &:hover {
        cursor: pointer;
        background-color: #26524B;

        .custom-icon {
          opacity: 1;
          transition: opacity 0.3s ease;
      }
    }
  }
}

.custom-icon {
  font-size: 20px;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20px;
}


.project-background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0%);

  &.middle {
    transform: translateY(calc(50% - 50px));
  }

  &.bottom {
    transform: translateY(calc(100% - 104px));
  }

  img {
    position: relative;
    z-index: 1;
    width: 400px;
    height: 200px;
    border-radius: 12px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 16px;
    width: 400px;
    height: 200px;
    background-image: repeating-linear-gradient(
      -45deg,
      #3DCFB6,
      #3DCFB6 1px,
      #1c1c1c 2px,
      #1c1c1c 10px
    );
    border-radius: 12px;
    z-index: 0;
  }
}
