<div class="wrapper">
  <div class="content">
    <div>
      <h2>Portfolio</h2>
      <h1>Featured Projects</h1>
    </div>
    <span>Explore a selection of my work here - Interact with <br> projects to see my skills in action.</span>
    <div class="projects">
      <div class="project-info">
        <h3>Join</h3>
        <div>
          <span>HTML</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>CSS</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>JavaScript</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>Firebase</span>
        </div>

      </div>
      <div class="project-info">
        <h3>El Pollo Loco</h3>
        <div>
          <span>HMTL</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>CSS</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>JavaScript</span>
        </div>
      </div>
      <div class="project-info">
        <h3>Pokédex</h3>
        <div>
          <span>HMTL</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>CSS</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>JavaScript</span>
          <span [ngStyle]="{ color: '#3DCFB6' }">|</span>
          <span>Rest-Api</span>
        </div>
      </div>
    </div>
  </div>
</div>
