<div class="wrapper">
  <div class="content">
    <div class="project-description-container">
      <div>
        <h2>Portfolio</h2>
        <h1>Featured Projects</h1>
      </div>
      <span>Explore a selection of my work here - Interact with <br> projects to see my skills in action.</span>
    </div>
    <div class="projects">
      <div class="projects-wrapper">
        <div class="project-info" *ngFor="let project of projects" (mouseenter)="setHoveredProject(project.id)"
          (mouseleave)="setHoveredProject(null)" (click)="setActiveProject(project.id)">
          <div>
            <h3>{{ project.title }}</h3>
            <mat-icon class="custom-icon" aria-hidden="false" aria-label="Call made icon"
              fontIcon="call_made"></mat-icon>
          </div>
          <div>
            <span *ngFor="let tech of project.technologies; let isLast = last">
              {{ tech.name }}
              <span *ngIf="!isLast" [ngStyle]="{ color: '#3DCFB6' }"> | </span>
            </span>
          </div>
        </div>
      </div>
      <div class="project-container" *ngIf="hoveredProject" [ngSwitch]="hoveredProject">
        <div *ngFor="let project of projects">
          <div class="project-background" [ngClass]="project.customClass" *ngSwitchCase="project.id">
            <img [src]="project.image" [alt]="project.title + ' Project'" />
          </div>
        </div>
      </div>

    </div>
  </div>
  <app-project-overlay-card *ngIf="activeProject" [project]="getActiveProject()" (close)="setActiveProject(null)"
    [projects]="projects">
  </app-project-overlay-card>


</div>
