<div class="wrapper">
  <div class="contact-text">
    <h2>{{ "contactText.title" | translate }}</h2>
    <h3>{{ "contactText.subtitle" | translate }}</h3>
    <div class="contact-text-content">
      <div>
        <span>{{ "contactText.question" | translate }}</span>
      </div>
      <div>
        <p>{{ "contactText.description" | translate }}</p>
        <p>
          {{ "contactText.cta.text" | translate }}
          <span>{{ "contactText.cta.highlight" | translate }}</span>
        </p>
      </div>
    </div>
  </div>
  <app-contact-form />
</div>
