<div ngClass="skills">

    <div ngClass="content">
        <h2>Technologies</h2>

        <div ngClass="technologies">


            <div ngClass="skill-set">
                <h1>Skill Set</h1>
                <span ngClass="skill-description">My journey has involved working on diverse projects, employing a range
                    of
                    frontend
                    technologies
                    and
                    concepts. I am open to embracing new technologies and methodologies to Continously enhance my
                    skills
                    and
                    stay ahead in the ever-evolving landscape of web development.</span>
                <div>
                    <h2><span ngClass="part1">You need </span> <span ngClass="part2">another skill?</span></h2>
                    <span ngClass="another-skill-description">
                        Feel free to contact me. I look forward to expanding on my previous knowledge.
                    </span>
                </div>

                <div>
                    <button class="btn"><span>Let's Talk</span></button>

                </div>

            </div>
            <div ngClass="skill-icons">
                <div>
                    <img src="assets/img/skill-icons/html.png" alt="">
                    <span>HTML</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/css.png" alt="">
                    <span>CSS</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/js.png" alt="">
                    <span>JavaScript</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/material-design.png" alt="">
                    <span>Material <br> Design</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/ts.png" alt="">
                    <span>TypeScript</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/angular.png" alt="">
                    <span>Angular</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/firebase.png" alt="">
                    <span>Firebase</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/git.png" alt="">
                    <span>GIT</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/api.png" alt="">
                    <span>Rest-Api</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/scrum.png" alt="">
                    <span>Scrum</span>
                </div>
                <div>
                    <img src="assets/img/skill-icons/growth-mindset.png" alt="">
                    <span>Growth <br> mindset</span>
                </div>
            </div>
        </div>
    </div>
</div>
