<div ngClass="skills">
  <div ngClass="content">
    <h2>{{ 'SKILLS.TECHNOLOGIES' | translate }}</h2>
    <div ngClass="technologies">
      <div ngClass="skill-set">
        <h1>{{ 'SKILLS.SKILL_SET' | translate }}</h1>
        <span ngClass="skill-description">{{ 'SKILLS.SKILL_DESCRIPTION' | translate }}</span>
        <div>
          <h2>
            <span ngClass="part1">{{ 'SKILLS.NEED_ANOTHER_SKILL' | translate }}</span>
          </h2>
          <span ngClass="another-skill-description">{{ 'SKILLS.ANOTHER_SKILL_DESCRIPTION' | translate
            }}</span>
        </div>
        <div>
          <button class="btn"><span>{{ 'SKILLS.LETS_TALK' | translate }}</span></button>
        </div>
      </div>
      <div class="skill-icons">
        <div *ngFor="let skill of skills">
          <img [src]="skill.icon" [alt]="skill.name">
          <span>{{ skill.name }}</span>
        </div>
        <div class="growth-mindset-container">
          <img src="assets/img/skill-icons/growth-mindset.png" alt="Growth Mindset Icon">
          <div class="tooltip">
            <div class="tooltip-headline">
              <span>{{ 'SKILLS.IM_INTERESTED' | translate }}</span>
            </div>
            <div class="tooltip-content">
              <div *ngFor="let interestedSkill of interestedSkills">
                <img [src]="interestedSkill.icon" [alt]="interestedSkill.name">
                <span>{{ interestedSkill.name }}</span>
              </div>
            </div>
          </div>
          <span>Growth <br> mindset</span>
        </div>
      </div>
    </div>
  </div>
</div>
