<mat-icon class="arrow-back-icon" (click)="goBack()" aria-hidden="false" aria-label="Arrow back"
  fontIcon="arrow_back"></mat-icon>
<div>
  <h1>{{ "privacy_policy.title" | translate }}</h1>
  <h2>{{ "privacy_policy.overview.title" | translate }}</h2>
  <h3>{{ "privacy_policy.overview.general_notes.title" | translate }}</h3>
  <p>{{ "privacy_policy.overview.general_notes.content" | translate }}</p>
  <h3>{{ "privacy_policy.overview.data_collection.title" | translate }}</h3>
  <h4>{{ "privacy_policy.overview.data_collection.responsible.title" | translate }}</h4>
  <p>{{ "privacy_policy.overview.data_collection.responsible.content" | translate }}</p>
  <h4>{{ "privacy_policy.overview.data_collection.how_we_collect.title" | translate }}</h4>
  <p>{{ "privacy_policy.overview.data_collection.how_we_collect.content_1" | translate }}</p>
  <p>{{ "privacy_policy.overview.data_collection.how_we_collect.content_2" | translate }}</p>
  <h4>{{ "privacy_policy.overview.data_collection.usage.title" | translate }}</h4>
  <p>{{ "privacy_policy.overview.data_collection.usage.content" | translate }}</p>
  <h4>{{ "privacy_policy.overview.data_collection.rights.title" | translate }}</h4>
  <p>{{ "privacy_policy.overview.data_collection.rights.content" | translate }}</p>
  <h2>{{ "privacy_policy.hosting.title" | translate }}</h2>
  <p>{{ "privacy_policy.hosting.general.content" | translate }}</p>
  <h3>{{ "privacy_policy.hosting.provider.title" | translate }}</h3>
  <p>{{ "privacy_policy.hosting.provider.content" | translate }}</p>
  <p>{{ "privacy_policy.hosting.reason.content" | translate }}</p>
  <h4>{{ "privacy_policy.hosting.processing_contract.title" | translate }}</h4>
  <p>{{ "privacy_policy.hosting.processing_contract.content" | translate }}</p>
  <h2>{{ "privacy_policy.general_information.title" | translate }}</h2>
  <h3>{{ "privacy_policy.general_information.data_protection.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.data_protection.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.responsible.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.responsible.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.storage_period.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.storage_period.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.legal_basis.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.legal_basis.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.data_recipients.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.data_recipients.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.withdrawal.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.withdrawal.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.right_to_object.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.right_to_object.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.complaint.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.complaint.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.data_transfer.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.data_transfer.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.information_correction_deletion.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.information_correction_deletion.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.restriction.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.restriction.content" | translate }}</p>
  <h3>{{ "privacy_policy.general_information.ssl_tls.title" | translate }}</h3>
  <p>{{ "privacy_policy.general_information.ssl_tls.content" | translate }}</p>
  <h2>{{ "privacy_policy.data_collection.title" | translate }}</h2>
  <h3>{{ "privacy_policy.data_collection.contact_form.title" | translate }}</h3>
  <p>{{ "privacy_policy.data_collection.contact_form.content" | translate }}</p>
  <h3>{{ "privacy_policy.data_collection.email.title" | translate }}</h3>
  <p>{{ "privacy_policy.data_collection.email.content" | translate }}</p>
  <h2>{{ "privacy_policy.plugins_tools.title" | translate }}</h2>
  <h3>{{ "privacy_policy.plugins_tools.google_fonts.title" | translate }}</h3>
  <p>{{ "privacy_policy.plugins_tools.google_fonts.content" | translate }}</p>
</div>
