:host {
  font-family: 'Karla', Arial, Helvetica, sans-serif
}

div {
  padding: 140px 100px 32px 100px;
  color: white;
  font-family: 'Karla';
}

a {
  color: white;
}

h1 {
  font-size: 32px;
  font-family: 'Karla' !important;
  color: #3DCFB6;
  font-weight: bold;
}

h2 {
  font-family: 'Karla' !important;
  color: #3DCFB6;
  margin: 56px 0px 16px 0px;
  font-weight: bold;
}
