<div class="wrapper">
  <div [@fadeInLeft]="fadeIn" class="content">
    <div class="project-description-container">
      <div>
        <h2>{{ 'PORTFOLIO.TITLE' | translate }}</h2>
        <h1>{{ 'PORTFOLIO.FEATURED_PROJECTS' | translate }}</h1>
      </div>
      <span>{{ 'PORTFOLIO.EXPLORE' | translate }}</span>
    </div>
    <div class="projects">
      <div class="projects-wrapper">
        <div class="project-info" *ngFor="let project of projects" (mouseenter)="setHoveredProject(project.id)"
          (mouseleave)="setHoveredProject(null)" (click)="setActiveProject(project.id)">
          <div>
            <h3>{{ project.title }}</h3>
            <mat-icon class="custom-icon" aria-hidden="false" aria-label="Call made icon"
              fontIcon="call_made"></mat-icon>
          </div>
          <div>
            <span *ngFor="let tech of project.technologies; let isLast = last">
              {{ tech.name }}
              <span *ngIf="!isLast" [ngStyle]="{ color: '#3DCFB6' }"> | </span>
            </span>
          </div>
        </div>
      </div>
      <div class="project-container" [hidden]="!hoveredProject" [@fadeInRight]="hoveredProject ? 'visible' : 'hidden'"
        [ngSwitch]="hoveredProject">
        <div *ngFor=" let project of projects">
          <div class="project-background" [ngClass]="project.customClass" *ngSwitchCase="project.id">
            <img [src]="project.image" [alt]="project.title + ' Project'" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-project-overlay-card *ngIf="activeProject" [project]="getActiveProject()" [projects]="projects"
    (close)="setActiveProject(null)" (next)="nextProject()">
  </app-project-overlay-card>
</div>
