<div class="content">
    <div class="intro-section">
        <h2>Frontend Developer</h2>
        <h1>Patrick Kanert</h1>
        <div class="btn-container">
            <button class="btn"><span>Check my work</span></button>
            <button class="btn"><span>Contact me</span></button>
        </div>
    </div>

    <div class="info-carousel">
        <ul>
            <li *ngFor="let item of sliderItems">
                {{ item }}
                <span class="dot">·</span>
            </li>
            <li *ngFor="let item of sliderItems">
                {{ item }}
                <span class="dot">·</span>
            </li>
            <li *ngFor="let item of sliderItems">
                {{ item }}
                <span class="dot">·</span>
            </li>

        </ul>

        <ul aria-hidden="true">
            <li *ngFor="let item of sliderItems">
                {{ item }}
                <span class="dot">·</span>
            </li>
            <li *ngFor="let item of sliderItems">
                {{ item }}
                <span class="dot">·</span>
            </li>
            <li *ngFor="let item of sliderItems">
                {{ item }}
                <span class="dot">·</span>
            </li>
        </ul>
    </div>

    <div class="info-container">
        <div class="scroll">
            <div class="arrow-frame">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 25 25" width="16" height="16">
                    <path style="fill:#ffffff"
                        d="m18.294 16.793-5.293 5.293V1h-1v21.086l-5.295-5.294-.707.707L12.501 24l6.5-6.5-.707-.707z" />
                </svg>
            </div>
            <div class="placeholder-line-scroll"></div>
        </div>

        <div class="social-media">
            <a class="flip-email" href="mailto:patrickkanert@gmail.com">patrickkanert&#64;gmail.com</a>
            <a href="https://github.com/PatrickKanert" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/social-media-icons/github.png" alt="">
            </a>
            <a href="" target="_blank" rel="noopener noreferrer">
                <img src="assets/img/social-media-icons/linkedin.png" alt="">
            </a>
            <div class="placeholder-line-social-media"></div>
        </div>
    </div>

</div>
