@import "../../../styles.scss";

.skills {
  background: radial-gradient(circle at 0% 50%, #08463b -20%, #1c1c1c 20%);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0px 100px 144px 100px;
}

.content {
  max-width: 1440px;
}

h1 {
  font-family: "Fira-Code", Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: -0.03em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3dcfb6;
}

h2 {
  font-family: "Karla", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.06px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #3dcfb6;
}

.higliht-text {
  color: #3dcfb6;
  font-family: "Fira-Code";
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  }

.highlight-text-white {
  color: white;
}

.technologies {
  display: flex;
  gap: 100px;
}

.skill-set {
  background-color: #3dcfb61a;
  display: flex;
  gap: 32px;
  flex-direction: column;
  padding: 32px;
  border: 1px solid #3dcfb6;
  border-radius: 30px;
  max-width: 600px;
  height: fit-content;

  .skill-description {
    color: white;
    font-family: Karla;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.6px;
    text-align: justified;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  .another-skill-description {
    color: white;
    font-family: Karla;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
  }

  > div {
    max-width: 340px;
  }
}

.skill-icons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 72px;

  > div {
    width: 105px;
    height: 115px;
    display: flex;
    flex-direction: column;
    align-items: center;

    > img {
      transition: transform 0.3s ease;
    }

    > img:hover {
      transform: scale(1.1);
    }

    > span {
      color: white;
      font-family: "Fira-Code";
      font-size: 18px;
      font-weight: 400;
      line-height: 21.6px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      margin-top: 8px;
    }
  }
}

.growth-mindset-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .tooltip {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    background-color: white;
    color: #3dcfb6;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-25%);
    z-index: 10;
    transition: opacity 0.3s ease;
    pointer-events: none;

      img{
        width: 32px;
        height: 32px;
      }

    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 25%;
      transform: translateX(-50%);
      border-width: 16px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }
  }

  img:hover + .tooltip {
    visibility: visible;
    opacity: 1;
  }
}

.tooltip-headline {
  color: #3dcfb6;
  font-family: "Fira-Code";
  font-size: 14px;
  font-weight: normal;
  line-height: 21.6px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 16px;
}

.tooltip-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  div {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1370px) {
  .technologies {
    gap: 32px;
  }

  .skill-icons {
    gap: 16px;
  }
}

@media (max-width: 1370px) {
  .technologies {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-set {
    max-width: 100%;
  }

  .skill-icons {
    justify-content: flex-start;
  }

}

@media (max-width: 999px) {
  .skills {
    padding: 0px 16px 144px 16px;
  }

  .technologies {
    max-width: 500px;
  }

  h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 44.8px;
    letter-spacing: -0.03em;
  }

  h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .higliht-text {
      font-size: 20px !important;
      font-weight: 700 !important;
      line-height: 24px !important;
    }


  span {
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19.2px !important;
  }
}
